.create-form {
    max-width: 600px;
}

.uploaded-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.6rem;
}

.ingredient-item {
    background-color: var(--cream);
}

.quantity-ingredient-input {
    width: 4rem;
}

.unit-ingredient-input {
    min-width: 12rem;
}

.title-ingredient-input {
    min-width: 15.7rem;
}