:root {
  --primary: #3C6223;
  --lightprimary:#479910;
  --secondary: #7A4551;
  --cream: #FAF8ED;
  --dark: #2C302C;
  --title: 'Poppins', sans-serif;
  --body: 'Nunito', sans-serif;
}

body {
  font-family: var(--body);
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: var(--title);
  font-weight: bold;
}

select:focus {
  border-color: var(--secondary);
}

textarea {
  resize: none;
  height: 200px;
}

.nav-general {
  background-color: var(--cream);
}

.nav-logo,
.footer-img {
  height: 50px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.nav-link {
  color: var(--dark);
}

.nav-link:hover {
  color: var(--primary);
}

footer {
  background-color: var(--primary);
}

footer a {
  display: inline-block;
  position: relative;
}

footer a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

footer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.primary-btn,
.secondary-btn:hover {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: 2px solid var(--primary);
}

.primary-btn:hover,
.secondary-btn {
  background-color: white;
  color: var(--dark);
  font-weight: bold;
  border: 2px solid var(--secondary);
}

.form-control,
.form-select {
  border-color: var(--dark);
  border-width: 2px;
}

.form-control::placeholder {
  color: gray;
}

.form-control:focus,
.form-select:focus {
  border: 2px solid var(--primary);
  box-shadow: none;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--dark);
}

.form-check-input:focus {
  border-color: var(--dark);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset, 0px 0px 8px rgba(60, 98, 35, 0.8);
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.active {
  --bs-navbar-active-color: var(--primary);
}