.home-banner {
  height: 500px;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .home-banner {
    height: 750px;
  }
  
  .home-banner-overlay {
    margin: 0 6rem;
    max-width: 900px;
  }
}

.home-title {
  font-family: var(--title);
  font-size: 100px;
  font-weight: bold; 
}

.home-recipes {
  margin: 7rem auto 8rem;
}

.home-articles-container{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 720px;
}

.home-square-img {
  max-width: 19rem;
}

.home-boldtitle{
  font-size: 2rem;
  font-family: var(--primary);
  font-family: var(--title);
  padding: 4%  0% 5% 0%; 
  
}
.home-img{
  max-width: 1600px;
}
.img-fluid1 {

  max-width: 200px;
  height: auto;
}
.move-right{
  margin-left: 8%;
}
.home-bottom {
  padding: 1%  8% 1% 8%;
}

@media screen and (max-width: 700px) {

  .home-text {
    font-family: var(--dark);
    color: black;
    white-space: pre-line;
    font-size: 1px;
    padding: 1% 1%;
  }

  .home-img {
    max-width: 90%; 
    height: auto;
  }

  .img-fluid1 {
    max-width: 80%; 
    height: auto;
  }

  .home-articles-container {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%; 
  }

  .home-bottom {
    padding: 0%;
  }
}

@media screen and (max-width: 980px) {
  .home-title {
    text-align: center;
    margin-top: 1%;
    font-family: poppins;
    white-space: pre-line;
    font-size: 40px; 
    color: var(--dark);
    font-weight: bold;
  }

  .home-text {
    font-family: var(--dark);
    color: black;
    white-space: pre-line;
    font-size: 20px; 
    padding: 1% 3%; 
  }
}